// Variables

// Breakpoints

$mobile:  320px;
$phablet: 520px;
$tablet:  740px;
$desktop: 960px;
$wide:    1100px;

// Colors
$primary-dark: #146A21;
$primary: #3E8F32;
$secondary: #F19319;
$secondary-light: #FED104;
$secondary-dark: #AB660F;
$gray-dark: #343233;
$gray: #A3A3A3;
$gray-lighter: #D2D2D2;

$margin-base: 10px;
