.app-wrapper {
  max-width: 1100px;
  margin: 0 10px;
}

@media (min-width: 68.75em) {
  .app-wrapper {
    margin: 0 auto;
  }
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 46.24em) {
  .main-container {
    height: calc(100vh - 116px);
    overflow-y: auto;
  }
}

@media (min-width: 60em) {
  .main-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/* Utility classes */
.u-m {
  margin: 10px;
}

.u-mt {
  margin-top: 10px;
}

.u-mr {
  margin-right: 10px;
}

.u-mb {
  margin-bottom: 10px;
}

.u-ml {
  margin-left: 10px;
}

.u-m--large {
  margin: 20px;
}

.u-mt--large {
  margin-top: 20px;
}

.u-mr--large {
  margin-right: 20px;
}

.u-mb--large {
  margin-bottom: 20px;
}

.u-ml--large {
  margin-left: 20px;
}

.u-mv--large {
  margin-top: 20px;
  margin-bottom: 20px;
}
