.app-logo {
  display: inline-block;
  position: relative;
  color: #343233;
  margin-bottom: 10px;
}

@media (min-width: 46.25em) {
  .app-logo {
    margin-bottom: 0;
  }
}

.app-logo__main {
  display: inline-block;
  position: relative;
  font-family: 'Luckiest Guy', cursive;
  margin: 0;
  font-size: 50px;
}

.app-logo__circled {
  position: relative;
  margin: 0 8px;
  color: transparent;
  z-index: 3;
}

.app-logo__circled:before {
  display: block;
  position: absolute;
  top: -8px;
  left: -8px;
  width: 46px;
  text-align: center;
  line-height: 1.2;
  height: 46px;
  border-radius: 300px;
  color: #FED104;
  background-color: #343233;
  content: "a";
  z-index: 1;
}

.app-logo__slogan {
  position: absolute;
  right: 0;
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #A3A3A3;
}
