.list-menu__item {
  font-size: 14px;
}

@media (min-width: 32.5em) {
  .list-menu__item {
    font-size: 16px;
  }
}

.list-menu__item:not(:last-child):after {
  content: "-";
  margin: 0 6px 0 4px;
}

.list-menu__link {
  color: #FED104;
  text-decoration: none;
}

.list-menu__link:hover {
  color: #F19319;
}
