.list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  list-style: none;
}

@media (min-width: 46.25em) {
  .list-menu {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
