.sidebar {
  min-width: 240px;
  margin-bottom: 20px;
}

@media (min-width: 46.25em) {
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 46.25em) and (max-width: 59.99em) {
  .sidebar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 60em) {
  .sidebar {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.sidebar__sorting {
  min-width: 200px;
  margin-bottom: 20px;
}

@media (min-width: 46.25em) and (max-width: 59.99em) {
  .sidebar__sorting {
    margin-bottom: 0;
  }
}
