// Helpers classes

.clearfix {
  @include clearfix;
}

.u-m {
  margin: $margin-base;
}

.u-mt {
  margin-top: $margin-base;
}

.u-mr {
  margin-right: $margin-base;
}

.u-mb {
  margin-bottom: $margin-base;
}

.u-ml {
  margin-left: $margin-base;
}

.u-m--large {
  margin: $margin-base*2;
}

.u-mt--large {
  margin-top: $margin-base*2;
}

.u-mr--large {
  margin-right: $margin-base*2;
}

.u-mb--large {
  margin-bottom: $margin-base*2;
}

.u-ml--large {
  margin-left: $margin-base*2;
}

.u-mv--large {
  margin-top: $margin-base*2;
  margin-bottom: $margin-base*2;
}
