.card {
  display: flex;
  flex-direction: column;
  padding: $margin-base;
  background: lighten($gray-lighter, 15%);
  transition: background 0.1s ease;

  @include mq(phablet) {
    flex-direction: row;
  };

  &:hover {
    background: $gray-lighter;
  }

  &__info {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }

  &__img {
    width: 100%;
    margin-bottom: $margin-base;

    @include mq(phablet) {
      max-width: 30%;
      margin-bottom: 0;
      margin-right: $margin-base;
    };
  }

  &__title {
    font-size: 18px;
    line-height: 26px;

    @include mq(tablet) {
      font-size: 24px;
      line-height: 34px;
    };

    &-wrapper {
      display: flex;
    }
  }

  &__link {
    color: $gray-dark;
    text-decoration: none;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }
}
