.list-menu {
  display: flex;
  margin: 0;
  list-style: none;

  @include mq(tablet) {
    align-self: flex-end;
  }

  &__item {
    &:not(:last-child):after {
      content: "-";
      margin: 0 6px 0 4px;
    }
  }

  &__link {
    color: $secondary-light;
    text-decoration: none;

    &:hover {
      color: $secondary;
    }
  }
}
